---
export type Props = {
    date: Date;
    title: string;
    description: string;
    urlDescription: string[];
    url: string[];
    results: string;
}


const {date,title, description, urlDescription, url, results} = Astro.props 

---

<div class="tips">
    <div class="header">
        <div class="title">{title}</div>
        <div class="date">{date.getFullYear()}/{date.getMonth()}</div>
    </div>
    <div class="container">
        <div class="description">{description}</div>
        <div>
            {
            urlDescription && url && (
                urlDescription.map((urlDescription, index) => (
                    <a href={url[index]}>{urlDescription}</a>
                )
            )
            )
            } 
        </div>
        {()=>{
            if (results ===""){
                return null;
            }else{
                return <div class="results">{results}</div>
            }
        }
        }
        </div>
    </div>

</div>